body {
  color: #000000;
  overflow-x: hidden;
}
input {
  width: 30%;
}
label {
  color: white;
  font-size: 2rem;
  text-align: left;
  width: 20rem;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
p {
  color: #becbff;
  font-size: 1.2rem;
  text-align: center;
}
h1 {
  color: #9b0000;
}

li {
  color: #36c000;
  font-size: 1rem;
}

a {
  color: white;
}

a:hover {
  color: rgb(245, 126, 126);
  text-decoration: none;
}

.button .button{
  margin: auto;
  background-color: #9b0000;
  border: none;
  color: white;
}
.button .button:hover{
  background-color: aliceblue;
  color: black;
  transition: 0.1s;

}
.hero {
  display: block;
  padding-bottom: 100px;
  height:auto;
  width: 100%;
}

.section-heading {
  font-size: 3.3em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-subheading {
  color: #9b0000;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-description {
  margin-bottom: 3rem;
  text-align: center;
}

.section-divider {
  margin: 2rem auto;
  opacity: 0.75;
  text-align: center;
}

.subsection-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.textfield {
  margin: auto;
  width: 70%;
}

#query-form {
  margin: auto;
  max-width: 85%;
}

footer {
   background-color: #9b0000; 
   color: white;
  padding-bottom: 4rem;
  padding-top: 1rem;
  text-align: center;
}

.copyright-text {
  color: #becbff;
}

.results-div{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 767px) {

  .button {
    max-width: 100%;
  }

  .textfield {
    margin: auto;
    width: 90%;
  }
}
